name: Test Julia Binding

on:
  workflow_call:
    inputs:
      gc_plan:
        required: true
        type: string
      moving:
        required: true
        type: string

jobs:
  build-debug:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Setup environments
        run: |
          ./.github/scripts/ci-checkout.sh
          ./.github/scripts/ci-setup.sh
      - name: Build Julia (Debug)
        run: |
          ./.github/scripts/ci-build.sh debug ${{ inputs.gc_plan }}
      - name: Style check
        run: |
          ./.github/scripts/ci-style.sh

  build-test-other:
    runs-on: ubuntu-22.04
    timeout-minutes: 360
    steps:
      - uses: actions/checkout@v2
      - name: Setup environments
        run: |
          ./.github/scripts/ci-checkout.sh
          ./.github/scripts/ci-setup.sh
      - name: Patching unsupported tests
        run: |
          ./.github/scripts/ci-test-patching.sh
      - name: Build Julia (Release)
        run: |
          ./.github/scripts/ci-build.sh release ${{ inputs.gc_plan }} ${{ inputs.moving }}
      - name: Test Julia
        run: |
          ./.github/scripts/ci-test-other.sh

  build-test-stdlib:
    runs-on: ubuntu-22.04
    timeout-minutes: 360
    steps:
      - uses: actions/checkout@v2
      - name: Setup environments
        run: |
          ./.github/scripts/ci-checkout.sh
          ./.github/scripts/ci-setup.sh
      - name: Build Julia (Release)
        run: |
          ./.github/scripts/ci-build.sh release ${{ inputs.gc_plan }} ${{ inputs.moving }}
      - name: Test Julia
        run: |
          ./.github/scripts/ci-test-stdlib.sh

  build-test-LinearAlgebra:
    runs-on: ubuntu-22.04
    timeout-minutes: 360
    steps:
      - uses: actions/checkout@v2
      - name: Setup environments
        run: |
          ./.github/scripts/ci-checkout.sh
          ./.github/scripts/ci-setup.sh
      - name: Build Julia (Release)
        run: |
          ./.github/scripts/ci-build.sh release ${{ inputs.gc_plan }} ${{ inputs.moving }}
      - name: Test Julia
        run: |
          ./.github/scripts/ci-test-LinearAlgebra.sh
