name: Test Julia Binding

on:
  pull_request:
    branches:
      - master
      - v1.8.2-RAI

concurrency:
  # Cancels pending runs when a PR gets updated.
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  binding-tests:
    strategy:
      matrix:
        gc_plan: [immix, stickyimmix]
    uses: ./.github/workflows/binding-tests.yml
    with:
      gc_plan: ${{ matrix.gc_plan }}
